body {
    background-color: #131320;
}

#main {
    margin: 40px;
    display: grid;
    grid-template-rows: 90px 140px auto;
    grid-template-columns: 60% 1fr 1fr 1fr;
    width: 750px;
    height: 680px;

}

.general {
    width: auto;
    font-family: Purisa;
    background-color: #131320;
}

#banner {
    grid-row: 1;
    height: 90px;
    font-size: 70px;
    color: gold;
    font-family: "Great Vibes";
    align-self: end;
}

#instructions {
    grid-row: 2;
    grid-column: span 4;
    color: ghostwhite;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

#themeButton {
    display: none;
    grid-row: 1;
    grid-column: 3;
    color: gold;
    font-family: Purisa;
    justify-self: end;

}

#contentButton {
    display: none;
    grid-row: 1;
    grid-column: 4;
    color: gold;
    font-family: Purisa;
    justify-self: end;
}

iframe {
    padding: 200px;
}

.calendar {
    background-image: url("winter-scenes-1.jpeg");
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.window {
    margin: 10px;
    border: dashed darkgoldenrod 1px;
    color: darkgoldenrod;
    padding: 5px;
    font-size: 50px;
    font-weight: bold;
    font-family: "Great Vibes", cursive;
    justify-items:end;
}

.window:hover {
    background-color: ghostwhite;
    color: darkred;
    opacity: 0.7;
}

.row {
    display: inline-flex;
}

.opened {
    background-color: white;
    opacity: 70%;
    padding: 10px;
    color: #131320;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#content {
    display: none;
}
/*
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a:hover {background-color: #ddd;}*/
