body {
    background-color: #131320;
}

#main {
    margin: 40px;
    display: grid;
    grid-template-rows: 80px 120px auto;
    grid-template-columns: 60% 20% 20%;

    width: 750px;
    height: 680px;

}

.general {
    width: auto;

}

@font-face {
    font-family: "Alex Brush";
    src: local(/home/andi/git/adventinaptar/adventcalendar/AlexBrush-Regular.ttf);
}

#banner {
    grid-row: 1;

    font-size: 50px;
    color: gold;
    font-family: Purisa;
}

#instructions {
    grid-row: 2;
    grid-column: span 3;
    color: ghostwhite;
    font-family: sans-serif;
}

#themeButton {
    grid-row: 1;
    grid-column: 2;
    color: gold;
    font-family: Purisa;
    justify-self: end;
}

#contentButton {
    grid-row: 1;
    grid-column: 3;
    color: gold;
    font-family: Purisa;
    justify-self: end;
}

.calendar {
    background-image: url("winter-scenes-1.jpeg");
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.window {
    margin: 10px;
    border: dashed darkgoldenrod 1px;
    color: darkgoldenrod;
    font-size: 25px;
    font-weight: bold;
    font-family: Purisa, sans-serif;
    justify-items:end;
}

.window:hover {
    background-color: ghostwhite;
    color: darkred;
    opacity: 0.5;
}

.row {
    display: inline-flex;
}

.opened {
    background-color: white;
    opacity: 50%;
    color: #131320;
    font-size: 15px;
}